<!DOCTYPE HTML>
<html>

<head>
    <title>ACD</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>

<!-- FACEBOOK WIDGET -->
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">

    <header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" href="/">
                            <img src="img/ACD_Final_Logo_2.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>


                </div>
            </div>
        </div>

    </header>




    <div class="container">



        <br/>



        <br/>
        <div class="row">

            <div class="col-md-12">

                <ul class="booking-list" >
                    </br>

                    <div class="row" id = "standard" name = "standard">

                    </div>



                </ul>

            </div>
        </div>
        <div class="gap"></div>
    </div>

    <footer id="main-footer">
        <div class="container">
            <div class="row row-wrap">

                <div class="col-md-3">
                    <h4>Texas - HQ: </h4>
                    <h5 class="text-color">Address: 2908 National Drive, Suite 100, Garland, TX 75041 </h5>
                    <h5 class="text-color">Phone: 469.573.4008</h5>
                    <h5 class="text-color">Fax:  972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>Florida - Design:</h4>
                    <h5 class="text-color">Address: Miami, </h5>
                    <h5 class="text-color">Phone:  847.920.7235 </h5>
                    <h5 class="text-color">Fax:   972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>California - Sales:</h4>
                    <h5 class="text-color">Address: San Jose, California </h5>
                    <h5 class="text-color">Phone: 469.573.4008</h5>
                    <h5 class="text-color">Fax:   972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>China - NPI Center:</h4>
                    <h5 class="text-color">Address: Shanghai, China</h5>
                    <h5 class="text-color">Phone:  469.573.4008</h5>
                    <h5 class="text-color">Fax:  972.278.2097</h5>


                </div>

            </div>
            <div class="row row-wrap">
                <div class="col-md-4">
                    <h5 class="text-color">Email: sales@austincircuit.com </h5>
                    <h5><a href="http://www.austincircuitdesign.com/" class="text-color">http://www.austincircuitdesign.com/</a></h5>
                    <p>Open Monday - Friday 08:00am - 06:00pm</p>
                </div>

            </div>

        </div>
    </footer>



    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/slimmenu.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap-timepicker.js"></script>
    <script src="js/nicescroll.js"></script>
    <script src="js/dropit.js"></script>
    <script src="js/ionrangeslider.js"></script>
    <script src="js/icheck.js"></script>
    <script src="js/fotorama.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/card-payment.js"></script>
    <script src="js/magnific.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/fitvids.js"></script>
    <script src="js/tweet.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/gridrotator.js"></script>
    <script src="js/custom.js"></script>
    <script>

        call();
        var myVar = setInterval(call, 5000);
        function call(){
            /*$('#standard').clearAfter();*/
            $.ajax({
                type: "POST",
                url: "./check-file",
                data: "",
                cache: false,
                success: function (msg) {
                    //alert(msg);
                    data = msg.detail;
                    var append = '\n';
                    for(var i=0;i<data.length;i++){
                        append += '<a class="booking-item" href="#" id="newRow" name="newRow">\n';
                        append += ' <div class="row" >\n';

                        var j=0;
                        /*console.log(dataall[i].length);*/
                        $.each(data[i]._data, function(key, value) {
                            if(j==0){
                                append+='<div class="col-md-2">\n';
                            }else if(j==1){
                                append+='<div class="col-md-4">\n';
                            }else if(j==2){
                                append+='<div class="col-md-2">\n';
                            }else {
                                append+='<div class="col-md-4">\n';
                            }

                            if(typeof  value[1]._data === 'object'){
                                append += ' <div class="row" >\n';
                                append+= '<h5 class="booking-item-title" style="color:red ">'+key+'</h5>\n';
                                $.each(value[1]._data, function(key1, value1) {

                                    append+= '<p class="booking-item-title">'+value1[0]+ ' : ' +value1[1]+'</p>\n';
                                });
                                append+='</div>\n';
                                j++;
                            }else{
                                append += ' <div class="row" >\n';
                                append+= '<h5 class="booking-item-title" style="color:red ">'+value[0]+ '</h5>\n';
                                append+='</div>\n';
                                append += ' <div class="row" >\n';
                                append+= '<p class="booking-item-title">'+value[1]+'</p>\n';
                                append+='</div>\n';
                                j++;
                            }
                            append+='</div>\n';
                        });

                        append+='</div>\n';
                        append+='</a>\n';
                    }




                    /*result = datas.names;*/

                    $('#standard').html(append);


                }


            });
        }


    </script>
</div>
</body>

</html>


